// $primary2: #be3455;
// $primary3: #e5afbc;
// $primary4: #81253e;
// Color
//primary text -

//secondary -

//absolut värde -> rem och px

//danger
// success

//  Bootstrap
// svar, vit går skala

// $body-color: #fefefe;
$body-color: #f3f8fa;
$body-bg: #000;

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900");

$dark-600: #39393d;
$dark-700: #333333;
$dark-800: #1c1c1d;
$dark-900: #1e1e1e;

$white: #f3f8fa;
$primary: #be3455;

body,
html {
    margin: 0;
    padding: 0;
    //font-family: "Muli", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

form {
    input[type="text"],
    input[type="category"],
    input[type="date"],
    input[type="description"] {
        background: $dark-800;
        border: $dark-800;
        padding: 10px;
        border-radius: 10px;
    }
    input[type="description"] {
        background: #1c1c1d;
        border: #1c1c1d;
        padding: 10px;
        border-radius: 10px;
    }
    label {
        margin-bottom: 5px;
    }
}

.card {
    background: $dark-900;
}

.icon {
    color: $primary;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $primary;
        border-color: $primary;
    }
}

.btn-link {
    background-color: $dark-900;
    border: 1px solid $dark-900;
    padding: 13px;
    text-decoration: none;

    .btn-link:hover {
        border: $primary;
        color: $white;
    }

    .link-icon-left {
        margin-right: 10px;
    }
}

button {
    background-color: $dark-900;
    color: $white;
    border: 1px solid $dark-900;
    padding: 13px;
    border-radius: 10px;
}

.addBtn {
    background-color: $dark-900;
    color: $white;
    border: 1px solid $dark-900;
    padding: 13px;
    border-radius: 10px;

    .addBtn:hover {
        border: $primary;
        color: $white;
    }
}

.submitBtn {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    padding: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

// #teacherlist {
//     background: $dark-700;

//     .span {
//     }

//     .teachers-Id-Link {

//     .teachers-Id-Link:hover {
//         border: 0.1em solid $primary;
//         color: $white;
//     }
// }

.teacherList {
    background-color: $dark-900;

    .line {
        color: $primary;
    }
}

// CSS Math Functions: Min(), Max(), Clamp()
//https://ishadeed.com/article/spacing-in-css/

nav {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        height: 100%;
        align-items: center;
        display: flex;
        padding: 1rem;
    }
    ul {
        list-style: none;
    }
    li {
        padding: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover {
            color: $primary;
        }
    }
    .icon {
        font-size: 1.4rem;
        &:hover {
            color: $white;
        }
    }
}
.hamburger {
    display: none;
    padding: 1rem;
}
@media screen and (max-width: 940px) {
    .navbar {
        .hamburger {
            display: block;
            z-index: 15;
        }
        .nav-menu {
            position: absolute;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            top: 0;
            left: -100%;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            transition: 0.5s ease-in;
            color: $white;
        }
        .active {
            left: 0;
        }
        li {
            margin-right: 1rem;
            font-size: 2rem;
        }

        button {
            font-size: 1.8rem;
        }
    }
}
